$blue-bg: #EAF4F4;
$base: #008BDA;
$red: #E83880;
$green: #4FD17C;
$grey: #9BA6A8;
$blue-gradient: linear-gradient(99.36deg, #40C4EF 0%, #0094C4 100.1%);



$black-shadow: rgba(0, 0, 0, .05);
$blue-shadow: rgba(4, 108, 143, 0.25);

$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
